html {
  font-family: Hack;
}

.hidden {
  display: none !important;
}

#title {
  text-align: center;
}

#welcome {
  text-align: center;
}

#game {
  text-align: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  justify-items: center;
}

#guy {
  grid-column: 1;
  grid-row: 1 / 4;
  margin: 0;
  display: inline-block;
}

#word-display {
  grid-column: 2;
  grid-row: 1;
  margin: 0;

  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.guessed-letter {
  transition: 200ms;
}

.guessed-letter.animated {
  transform: scale(2);
}

#character-input {
  grid-column: 2;
  grid-row: 2;

  font-family: Hack;
  appearance: none;
  box-sizing: border-box;
  color: #24292e;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  padding: 4px;
}

#character-input.invalid {
  background-color: #ea5c5c;
}

#try {
  grid-column: 2;
  grid-row: 3;
}

.buttons {
  /* Damn boy that button's thick af */
  font-family: Hack;
  background-color: white;
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  background-color: #fafbfc;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 13px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.buttons:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.buttons:disabled {
  color: grey;
  cursor: not-allowed;
}

#wrong-letters {
  grid-column: 3;
  grid-row: 1 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.wrong-letter {
  border: 1px dotted black;
  padding: 4px;
  transition: 200ms;
}

.wrong-letter.animated {
  transform: scale(2);
}

#canvas-container {
  height: 100%;
  border: 1px solid black;
}
