body {
  background-image: url(background.jpg);
  background-size: 200px;
  font-family: Hack;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hidden {
  display: none !important;
}

#title {
  text-align: center;
}

#welcome {
  text-align: center;
}

#game {
  text-align: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#guy {
  grid-column: 1;
  grid-row: 1 / 4;
  margin: 0;
  display: inline-block;
  font-size: 40px;
  text-align: left;
  white-space: pre-wrap;
}

#word-display {
  grid-column: 2;
  grid-row: 1;
  margin: 0;

  display: flex;
  font-size: 30px;
  gap: 5px;
  flex-wrap: wrap;
}

#word-display.loss-animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.guessed-letter {
  transition: 200ms;
}

.guessed-letter.animated {
  transform: scale(2);
}

.guessed-letter.not-empty:hover {
  transform: rotate(180deg);
}

#character-input {
  grid-column: 2;
  grid-row: 2;

  font-family: Hack;
  appearance: none;
  box-sizing: border-box;
  color: #24292e;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  padding: 4px;
}

#character-input.invalid {
  background-color: #ea5c5c;
}

#try {
  grid-column: 2;
  grid-row: 3;
}

.buttons {
  /* Damn boy that button's thick af */
  font-family: Hack;
  background-color: white;
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  background-color: #fafbfc;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 13px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.buttons:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.buttons:disabled {
  color: grey;
  cursor: not-allowed;
}

#wrong-letters {
  grid-column: 3;
  grid-row: 1 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 25px;
}

.wrong-letter {
  border: 1px dotted black;
  padding: 4px;
  transition: 200ms;
}

.wrong-letter.animated {
  transform: scale(2);
}

.wrong-letter:hover {
  transform: rotate(360deg);
}

.win-animation {
  transform: translateY(-10px);
}

#canvas-container {
  height: 100%;
  border: 1px solid black;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(6px, 0, 0);
  }
}
